@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oswald:wght@200..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-header-bg: #9C2113;
    --color-header-bg-2: #73190f;
    --color-text-2: #000000;
    --color-text: #fff;
    --color-bg: #099078;
    --color-btn: #014B43;
    --color-btn-hover: #fff;
    --color-footer: #000;

    --font-default: "Oswald", arial;
    --font-title: "Bebas Neue", arial;

    --border-default: 0.5px solid #fff;
    --border-radius-default: 10px;
}

body {
    height: 100vh;
    background-color: var(--color-bg);
    font-family: var(--font-default);
    font-size: 16px;
}

header {
    height: 14vh;
    background: linear-gradient(var(--color-header-bg), var(--color-header-bg-2));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
    box-shadow: 1px 0px 3px #000;
}

header h1 {
    font-family: var(--font-title);
    color: var(--color-text);
    font-size: 3em;
}

header #btn-add {
    padding: 0.5em;
    font-family: var(--font-default);
    border: var(--border-default);
    border-radius: var(--border-radius-default);
    font-size: 1em;
    cursor: pointer;
    background-color: var(--color-btn);
    color: var(--color-text);

}

header #btn-add:hover {
    color: var(--color-text-2);
    background-color: var(--color-btn-hover);
}


#library {
    height: 82vh;
}

footer {
    height: 4vh;
    background: linear-gradient(var(--color-header-bg), var(--color-header-bg-2));
    color: var(--color-text);
    display: flex;
    justify-content: center;
    align-items: center;
}

footer a {
    text-decoration: none;
    color: var(--color-text);
}
